    </main>
    <div class="container">
        <footer class="py-3 my-4"> 
            <ul class="nav justify-content-center border-bottom pb-3 mb-3"> 
                <li class="nav-item"><a href="/" class="nav-link px-2 text-warning">Home</a></li>
                <li class="nav-item"><a href="/about" class="nav-link px-2 text-warning">About</a></li>
                <li class="nav-item"><a href="/faq" class="nav-link px-2 text-warning">FAQ</a></li>               
                <li class="nav-item"><a href="/contact" class="nav-link px-2 text-warning">Contact</a></li> 
            </ul>
            <% 
            const d = new Date();
            let year = d.getFullYear();
            %>
            <p class="text-center text-warning shadow">© <%= year %> NEMESIS-NULL</p> 
        </footer> 
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <script src="/index.js"></script>
</body>
</html>