<%- include("partials/header.ejs") %>

<div class="container">
    <h1 class="text-center text-warning my-3 py-3">About</h1>
    <div class="grid text-center">
        <div class="g-col-6 my-3 py-3">
            <div class="card text-bg-secondary text-center shadow">
                <div class="card-body">
                    <p class="card-text">
                        Welcome to my blog! 
                        Here, I share thoughts, ideas, and stories that matter to me — from tech and programming to music, 
                        philosophy, and everything in between. This space is a digital notebook, a creative outlet, and sometimes a 
                        rant zone when the world gets weird.
                        Whether you're here to read about code, dive into existential questions, or just explore something new, I’m 
                        glad you stopped by.
                        Feel free to leave comments, share your own perspective, or just enjoy the ride.
                        Thanks for visiting — and come back anytime!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>