<%- include("partials/header.ejs") %>

<div class="container">
    <h1 class="text-center text-warning my-3 py-3">FAQ</h1>
    <% if (locals.faqs) {%>
        <% for (let i = 0; i < faqs.length; i++) {%>
            <div class="grid text-center">
                <div class="g-col-6 my-3 py-3">
                    <div class="card text-bg-secondary text-center shadow">
                        <div class="card-header"><%= faqs[i].question %></div>
                        <div class="card-body">
                            <p class="card-text"><%= faqs[i].answer %></p>
                        </div>
                    </div>
                </div>
            </div>
        <%}%>
    <%}%>
</div>


<%- include("partials/footer.ejs") %>